<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

	<title>Document</title>
</head>

<body>
	<!-- navigation bar -->

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
			<a class="navbar-brand" href="index">
				<img src="https://user-images.githubusercontent.com/62644568/111613017-12b48800-8804-11eb-8aea-a50f0ab3dd9c.jpg"
					alt="" width="30" height="24" class="d-inline-block align-top">
				RoomPartner</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="index">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="adpost">See Rooms</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="ad">Post Ad</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>




	<h1>Advertisements</h1>
	<div>
		<% items.forEach(function(image) { %>
			<div class="container" style="background-color:#dddd;height: auto;width: auto;">
				<style>
					img {
						display: block;
						margin-left: auto;
						margin-right: auto;
						margin-top: auto;
						margin-bottom: auto;

					}

					h5 {
						text-align: center;
					}
				</style>
				<div>
					<img src="data:image/<%=image.img.contentType%>;base64,
						<%=image.img.data.toString('base64')%>" height="275" width="350">
					<div>
						<h5>
							<%= image.name %>||
								<%= image.town %>||
									<%= image.desc%>
						</h5>
					</div>
				</div>
			</div>
			<% }) %>
	</div>

</body>

</html>