<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<title>Image Uploading</title>
</head>

<body>
	<h1>Post Your Ad</h1>
	<hr>
	<div>
		<form action="/" method="POST" enctype="multipart/form-data">
			<div>
				<label for="name">Name</label>
				<br>
				<input type="text" id="name" placeholder="Name" value="" name="name" required>
			</div>
			<br>
			<div>
				<label for="town">Town</label>
				<br>
				<input type="text" id="town" placeholder="Town" value="" name="town" required>
			</div>
			<br>
			<div>
				<label for="image">Upload Image</label>
				<br>
				<input type="file" id="image" name="image" value="" required>
			</div>
			<br>
			<div>
				<label for="desc">Add description</label><br>
				<textarea id="desc" rows="5" cols="40" name="desc" placeholder="Add Description" required></textarea>
			</div>
			<br>
			<div>
				<button type="submit">Submit</button>
			</div>
		</form>
	</div>

	<hr>
	<br>
	<a href="/">homepage</a>
	<br>

	<h1>Advertisements</h1>
	<div>
		<% items.forEach(function(image) { %>
			<div class="container" style="background-color:#dddd;height: auto;width: auto;">
				<style>
					img {
						display: block;
						margin-left: auto;
						margin-right: auto;
						margin-top: auto;
						margin-bottom: auto;
						
					}
					h5{
						text-align: center;
					}
				</style>
				<div>
					<img src="data:image/<%=image.img.contentType%>;base64,
						<%=image.img.data.toString('base64')%>" height="275" width="350">
					<div>
						<h5>
							<%= image.name %>||
								<%= image.town %>||
									<%= image.desc%>
						</h5>
					</div>
				</div>
			</div>
			<% }) %>
	</div>
	</div>
</body>

</html>